html{
	/* 页面缩放 */
	transform: scale(1,1);
	-ms-transform: scale(1,1); 
	/* IE 9 */
	-webkit-transform: scale(0.96,0.96); 
	/* Safari、 Edge and Chrome */
}

body{
	margin: 0;
	/* background-color: rgb(205, 248, 221); */
	background-image: url("../images/index/imgbg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* #title{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 0;
	left: 0; */
	/* background-color: #007EE5; */
	/* font-family: "幼圆";
	font-size: 25px;
	color: #000000;
	text-shadow: #ff00de -1px -3px, #ff00de 0 0 20px
	display: flex;
	align-items: center;
	justify-content: center;
} */

#dashboard{
	position: absolute;
	width: 20%;
	height: 54%;
	top: 10%;
	left: 0;
	background-color: #d4e2ff;
	
/* 	display: flex;
	align-items: center;
	justify-content: center; */
}
.toolbox{
	/* width: 100%; */
	height: 25%;
	/* display: flex; */
	/* float: top; */
	background-color: #aaff7f;
}
.cmdbox{
	/* width: 100%; */
	height: 25%;
	/* display: flex; */
	/* float: top; */
	background-color: #aaff7f;
}

#vo{
	position: absolute;
	width: 20%;
	height: 36%;
	top: 64%;
	left: 0;
	background-color: #d0e7fa;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border:3px solid black; */
}
.box{
	width: 100%;
	height: auto;
	/* background-color: #d0e7fa; */
	/* border:4px solid black; */
}
.box img {
	width: 100%;
	height:100%;
	/* background-color: #d0e7fa; */
	   
}

#tree{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: #00000000;
}

#map{ 
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	border-width:5px;
}

#user_confirm {
	font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 14px;
	border-width: 0px;
	
	
	position: absolute;
	left: 0px;
	top: 0px;
	width: 104px;
	height: 42px;
	background-color: rgba(255, 255, 255, 0);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(220, 223, 230, 1);
	border-radius: 4px;
	text-align: center;

	margin-left:auto;
	margin-right:auto;
}
video{
    position: fixed;
    right:0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    /*灰色调*/
    /* -webkit-filter:grayscale(50%) */
}
/* 解决窗口抖动的问题 */
/* html, body {height:100%;overflow:auto;margin: 0;}
html{overflow-y:scroll;} */
