body{
	margin: 0;
	background-color: #ffffff;
}

#title{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 0;
	left: 0;
	/* background-color: #007EE5; */
	font-family: "幼圆";
	font-size: 25px;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dashboard{
	position: absolute;
	width: 20%;
	height: 54%;
	top: 10%;
	left: 0;
	background-color: #d4e2ff;
	
/* 	display: flex;
	align-items: center;
	justify-content: center; */
}
.toolbox{
	/* width: 100%; */
	height: 25%;
	/* display: flex; */
	/* float: top; */
	background-color: #aaff7f;
}
.cmdbox{
	/* width: 100%; */
	height: 25%;
	/* display: flex; */
	/* float: top; */
	background-color: #aaff7f;
}

#vo{
	position: absolute;
	width: 20%;
	height: 36%;
	top: 64%;
	left: 0;
	background-color: #d0e7fa;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border:3px solid black; */
}
.box{
	width: 100%;
	height: auto;
	/* background-color: #d0e7fa; */
	/* border:4px solid black; */
}
.box img {
	width: 100%;
	height:100%;
	/* background-color: #d0e7fa; */
	   
}

#tree{
	position: absolute;
	width: 80%;
	height: 45%;
	top: 0;
	right: 0;
	background-color: #d7ffcb;
}

#map{
	position: absolute;
	width: 80%;
	height: 55%;
	top: 45%;
	right: 0;
	/* background-color: #028EE1; */
}